.vs
.idea
bin
obj
*.user
.DS_Store
WeaverUnityProject/*.sln
WeaverUnityProject/*.csproj
WeaverUnityProject/Temp
WeaverUnityProject/Library
AnityProject/*.sln
UnityProject/*.csproj
UnityProject/Temp
UnityProject/Library
UnityProject/*.sln
